@import './variables.scss';
@import './assets/inter-ui/inter.css';
@import './assets/destiny-symbols/fontFace.css';

body {
  margin: 0;
  font-family: 'Destiny Symbols', 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121212;
  color: $textColor;
}

* {
  box-sizing: border-box;
}
